.EDS_Node
{
    max-width: 300px;
}

.EDS_Node #extension
{
    max-height: 120px;
}

.EDS_Port > #type
{
    /* margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px; */
    margin: 10px;
    -unity-text-align: middle-right;
    font-size: 15px;
}

#EDS_TextField #unity-text-input
{
    
}