.EDS-Dialogue-Edit-Window
{
    background-color: rgba(30, 30, 30, 1);
    position: relative;
    align-self: flex-end;
    min-width: 200px;
    flex-direction: column;
    flex-grow: 1;
}

.EDS-Dialogue-Edit-Window #EDS_ListView
{

}